{{#each this}}
<li style="list-style: none;">
    <h1>{{name}}</h1>
    <div class="country-div">
        <div>
            <h2>Capital: <span>{{capital}}</span></h2>
            <h2>Population: <span>{{population}}</span></h2>
            <h2>Languages:</h2>
            <ul class="language-list">
                {{#each languages}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <img src="{{flag}}" alt="{{demonym}} flag" width="300">
    </div>
</li>
{{/each}}